button {
    cursor: pointer;
  }
  .buttons-portfolio [type]:hover {
    color: white;
    background-color: #2196f3;
  }
  .buttons-portfolio [type]:focus {
    color: white;
    background-color: #2196f3;
  }
  .button-order {
    background: #f5f4fa;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #212121;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    border-radius: 4px;
    width: 216px;
    height: 50px;
    text-align: center;
    border: hidden;
  }
  .button-order:hover {
    background-color: #2196f3;
    color: white;
  }
  .button-order:active {
    background: #f5f4fa;
    color: #212121;
  }
  .buttons-portfolio {
    display: flex;
  }
  .button-all {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #212121;
    background: #f5f4fa;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    width: 73px;
    height: 38px;
    border: hidden;
    border-radius: 4px;
  }
  .button-web-sites {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    width: 125px;
    height: 38px;
    background: #f5f4fa;
    border-radius: 4px;
    border: hidden;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #212121;
  }
  .button-appendices {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    background: #f5f4fa;
    width: 112px;
    height: 38px;
    border-radius: 4px;
    border: hidden;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #212121;
  }
  .button-design {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    background: #f5f4fa;
    width: 103px;
    height: 38px;
    border-radius: 4px;
    border: hidden;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #212121;
  }
  .button-marketing {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    width: 130px;
    height: 38px;
    border-radius: 4px;
    border: hidden;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #212121;
    background: #f5f4fa;
  }